<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="stylesheets/style.css" />
		<script src="https://kit.fontawesome.com/313ff853e5.js" crossorigin="anonymous"></script>
		<title><%= title %></title>
	</head>
	<body class="bg-gray-100 text-neutral-800">
		<header class="relative">
			<%- include("nav") %> 
		</header>
		<main class="mt-24 mb-6 grid gap-y-6 gap-x-3 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
			<% if (messages.length > 0) { %>
				<% messages.forEach(message => { %>
					<div class="bg-white flex items-end justify-between rounded-md shadow-md hover:shadow-lg focus:shadow-lg transition transform hover:-translate-y-1 p-4 w-5/6 mx-auto">
						<div>
							<span class="text-gray-500">
								Author:
								<% if (currentUser && currentUser.isMember) { %>
									<a href="<%= message.author.url %>" class="text-violet-600"><%= message.author.fullName %></a>
								<% } else { %>
									<span>Anonymous</span>
								<% } %>
							</span>
							<p class="leading-relaxed my-3 font-medium"><%= message.content %></p>
							<small class="text-gray-500 text-xs"><%= message.createdAt %></small>
						</div>
						<!-- <div>
							<a href="<%= message.url %>" class="text-violet-600 text-sm font-medium hover:underline">Detail</a>
						</div> -->
					</div>
				<% }) %>
			<% } %>
		</main>
	</body>
</html>
