<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="stylesheets/style.css" />
		<link rel="shortcut icon" href="/pictures/favicon.png" type="image/x-icon">
		<script src="https://kit.fontawesome.com/313ff853e5.js" crossorigin="anonymous"></script>
		<title><%= title %></title>
	</head>
	<body class="bg-gray-100 text-neutral-800 bg-fixed bg-center bg-cover" style="background-image: url('/pictures/dominik-schroder-FIKD9t5_5zQ-unsplash.jpg')">
		<header class="relative">
			<%- include("nav") %> 
		</header>
		<main class="mt-24 mb-6 space-y-4 md:max-w-xl mx-auto">
			<% if (messages.length > 0) { %>
				<% messages.forEach(message => { %>
					<div class="bg-white rounded-md shadow-md hover:shadow-lg focus:shadow-lg transition transform hover:-translate-y-1 p-4 w-5/6 mx-auto">
						<div>
							<span class="text-gray-500">
								Author:
								<% if (currentUser && currentUser.isMember) { %>
									<a href="<%= message.author.url %>" class="text-cyan-600"><%= message.author.fullName %></a>
								<% } else { %>
									<span>Anonymous</span>
								<% } %>
							</span>
							<p class="leading-relaxed my-3 font-medium"><%= message.content %></p>
							<small class="text-gray-500 text-xs"><%= message.createdAt %></small>
						</div>
					</div>
				<% }) %>
			<% } %>
		</main>
	</body>
</html>
