<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="stylesheets/style.css" />
		<title><%= title %></title>
	</head>
	<body>
		<h1><%= title %></h1>
		<% if (currentUser) { %>
		<p>Welcome back! <%= currentUser.firstName %></p>
		<a href="/logout">Log out</a>
		<img src="<%= currentUser.avatar %>" alt="User avatar" />
		<% } else { %>
		<div>
			<a href="/signup">Sign up</a>
			<a href="/login">Log in</a>
		</div>
		<% } %> <% if (messages.length > 0) { %> <% messages.forEach(message => { %>
		<a href="<%= message.url %>">
			<div>
				<% if (currentUser) { %>
				<p><b>Author:</b> <%= message.author.fullName %></p>
				<% } else { %>
				<p><b>Author:</b> Anonymous</p>
				<% } %>
				<p><%= message.content %></p>
				<small><%= message.createdAt %></small>
			</div>
		</a>
		<% }) %> <% } %>
	</body>
</html>
