<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<title><%= title %></title>
	</head>
	<body>
		<main>
			<div>
				<p>
					<b>Author:</b> 
					
					<% if (currentUser && currentUser.isMember) { %>
						<a href="<%= message.author.url %>"><%= message.author.fullName %></a>
					<% } else { %>
						<span>Anonymous</span>
					<% } %>

				</p>
				<p><%= message.content %></p>
				<small><%= message.createdAt %></small>
			</div>
		</main>
	</body>
</html>
