<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="stylesheets/style.css" />
		<title><%= title %></title>
	</head>
	<body>
		<main>
			<h1>Sign up</h1>
			<!-- TODO: Make the error appear on each field -->
			<% if (errors.length > 0) { %> <% errors.forEach(error => { %>
			<p><%= error.msg %></p>
			<% }) %> <% } %>
			<form action="" method="post">
				<div>
					<label for="firstName">First name:</label>
					<input
						type="text"
						name="firstName"
						id="firstName"
						value="<%= body.firstName %>"
						required
					/>
				</div>

				<div>
					<label for="lastName">Last name:</label>
					<input
						type="text"
						name="lastName"
						id="lastName"
						value="<%= body.lastName %>"
						required
					/>
				</div>

				<div>
					<label for="username">Username:</label>
					<input
						type="text"
						name="username"
						id="username"
						value="<%= body.username %>"
						required
					/>
				</div>

				<div>
					<label for="password">Password:</label>
					<input type="password" name="password" id="password" required />
				</div>

				<div>
					<label for="confirmPassword">Confirm password:</label>
					<input
						type="password"
						name="confirmPassword"
						id="confirmPassword"
						required
					/>
				</div>

				<div>
					<input type="submit" value="Sign Up" />
				</div>
			</form>
		</main>
	</body>
</html>
