<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/pictures/favicon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/313ff853e5.js" crossorigin="anonymous"></script>
    <title><%= title %></title>
</head>
<body class="bg-gray-100 text-neutral-800 bg-fixed bg-center bg-cover" style="background-image: url('/pictures/dominik-schroder-FIKD9t5_5zQ-unsplash.jpg')">
    <header class="relative">
        <%- include("nav") %>
    </header>
    <main class="mt-24 flex flex-col sm:flex-row sm:justify-center mx-auto">
        <div class="flex flex-col bg-white rounded-md w-5/6 sm:max-w-xs h-fit mx-auto sm:mx-0 sm:ml-11 mb-6 sm:mb-0 p-4 shadow-md space-y-4">
            <div>
                <img src="<%= user.avatar %>" alt="User avatar" class="w-16 h-16 rounded-full">
            </div>
            <div class="space-y-2">
                <h1 class="font-semibold text-xl"><%= user.fullName %></h1>
                <p class="text-sm text-gray-500">@<%= user.username %></p>
                <% if (isLogIn) { %>
                    <div class="space-y-4 flex flex-col">
                        <a href="<%= user.url %>/edit" class="px-3 py-2 font-medium rounded-md bg-emerald-50 text-emerald-500 hover:bg-emerald-100 transition">
                            <i class="fas fa-user-edit"></i>
                            Edit
                        </a>
                        <a href="<%= user.url %>/member" class="px-3 py-2 font-medium rounded-md bg-yellow-50 text-yellow-500 hover:bg-yellow-100 transition">
                            <i class="fas fa-star"></i>
                            Membership
                        </a>
                        <a href="/logout" class="px-3 py-2 font-medium rounded-md bg-orange-50 text-orange-500 hover:bg-orange-100 transition">
                            <i class="fas fa-sign-out-alt"></i>
                            Log out
                        </a>
                    </div>
                <% } %>
            </div>
        </div>

        <div class="mb-6 space-y-4 w-full sm:max-w-lg">
            <% if (user.messages.length > 0) { %>
                <% user.messages.forEach(message => { %>
                    <div class="bg-white flex items-end justify-between rounded-md shadow-md hover:shadow-lg focus:shadow-lg transition transform hover:-translate-y-1 p-4 w-5/6 mx-auto">
                        <div>
                            <span class="text-gray-500">
                                Author:
                                <span class="text-cyan-600"><%= user.fullName %></span>
                            </span>
                            <p class="leading-relaxed my-3 font-medium"><%= message.content %></p>
                            <small class="text-gray-500"><%= message.createdAt %></small>
                        </div>
                        <% if (isLogIn) { %>
                            <div>
                                <a href="<%= message.url %>/delete" class="text-rose-600 text-sm font-medium hover:underline">
                                    <i class="fas fa-trash-alt"></i>
                                    Delete
                                </a>
                            </div>
                        <% } %>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </main>
</body>
</html>